In [1]:
import pandas as pd
import numpy as np
from sklearn.mixture import GaussianMixture
import plotly.express as px

In [2]:
data = pd.read_csv("C:/Users/User/Documents/University/Internship/10-25-2021/Clustering Algorithms/train.csv")
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

<h5>Preprocessing the dataset</h5>

In [3]:
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()
# fit and transform the data
data_norm = pd.DataFrame(scaler.fit_transform(data.drop(['id','target'], 1)), columns=data.drop(['id','target'], 1).columns)

data_norm

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,0.016393,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018182,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
1,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.013158,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.013158,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
3,0.016393,0.0,0.0,0.014286,0.315789,0.1,0.131579,0.000000,0.000000,0.033333,...,0.289474,0.000000,0.015385,0.029851,0.0,0.000000,0.000000,0.000000,0.000000,0.0
4,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018182,0.000000,0.000000,0.0,0.000000,0.007692,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,0.016393,0.0,0.0,0.014286,0.052632,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.018182,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.105263,0.0
61874,0.065574,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.030769,0.000000,0.0,0.032787,0.000000,0.000000,0.052632,0.0
61875,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.039474,0.023256,0.000000,...,0.000000,0.000000,0.046154,0.014925,0.0,0.000000,0.000000,0.000000,0.000000,0.0
61876,0.016393,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.016393,0.000000,0.057692,0.526316,0.0
61877,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.105263,0.0

In [4]:
X = np.array(data_norm)

<h3>Initializing a Gaussian Mixture Model</h3>

In [5]:
gmm = GaussianMixture(n_components=9, random_state=0)
gmm.fit(X)

GaussianMixture(n_components=9, random_state=0)

In [6]:
data["Cluster"] = gmm.predict(X)

In [7]:
data

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target,label
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Class_1,6
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,Class_1,3
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,Class_1,3
3,4,1,0,0,1,6,1,5,0,0,...,1,2,0,0,0,0,0,0,Class_1,7
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,Class_1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,2,0,Class_9,7
61874,61875,4,0,0,0,0,0,0,0,0,...,2,0,0,2,0,0,1,0,Class_9,7
61875,61876,0,0,0,0,0,0,0,3,1,...,3,1,0,0,0,0,0,0,Class_9,3
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,3,10,0,Class_9,6
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,Class_9,7