In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import MeanShift, estimate_bandwidth

import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/User/Documents/University/Internship/10-25-2021/Clustering Algorithms/train.csv")
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [3]:
data.isna()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61874,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61875,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61876,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61877,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()

#taking a sample 2000 records from the data
data = data.sample(n=4000)

# fit and transform the data
data_norm = pd.DataFrame(scaler.fit_transform(data.drop(['id','target'], 1)), columns=data.drop(['id','target'], 1).columns)

In [5]:
X = np.array(data_norm)

In [19]:
# Estimate bandwith
bandwidth = estimate_bandwidth(X, quantile=0.5)
bandwidth

0.7135696953520904

In [21]:
# Fit Mean Shift with Scikit
meanshift = MeanShift(bandwidth=bandwidth)
meanshift.fit(X)
labels = meanshift.labels_
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

In [22]:
# Predict the cluster for all the samples
data["Cluster"] = meanshift.predict(X)

In [23]:
n_clusters_

118